{% extends "blog/base.html" %}
{% block content %}
    <h1>O nas</h1>
    <div class="content-section">
        <h2>Kim jesteśmy?</h2>
        Jesteśmy grupą studentów z różnych wydziałów Politechniki Warszawskiej, 
        których łączy pasja do nauki i rozwoju.
        <h2>Cel koła</h2>
        Celem Koła jest ułatwienie jego członkom rozwijania i pogłębiania wiedzy z
        zakresu fizyki komputerowej, oraz promocja tej dziedziny wśród studentów
        Politechniki Warszawskiej
        <h2>Czym się zajmujemy?</h2>
        <p>
        Na codzień tworzymy oprogramowanie do symulowania zjawisk fizycznych.
        Pozwala to nie tylko oszczędzić czas i pieniądze (symulowanie zjawisk jest
        prostsze niż ich rekreacja) ale też pozwala lepiej zrozumieć problem który
        chcemy rozwiązać.
        </p>
        <p>
        Staramy się też organizować warsztaty i spotkania żeby promować wiedzę i
        uczyć się od siebie nawzajem.
        </p>
    </div>
{% endblock content %}
